<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78049853657-avqor5nqf0889lf5e7h8c2m2541t388b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78049853657-avqor5nqf0889lf5e7h8c2m2541t388b</string>
	<key>API_KEY</key>
	<string>AIzaSyAGGX_GB2Gfh_VviQSnvg4rkNqGX08ppV4</string>
	<key>GCM_SENDER_ID</key>
	<string>78049853657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alessandrodovere.GrampaProject</string>
	<key>PROJECT_ID</key>
	<string>grampaproject-b3b24</string>
	<key>STORAGE_BUCKET</key>
	<string>grampaproject-b3b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78049853657:ios:d70b50ec41b7454389bec8</string>
	<key>DATABASE_URL</key>
	<string>https://grampaproject-b3b24.firebaseio.com</string>
</dict>
</plist>